{% extends 'sentiment/anime/base.html' %}
{% load static %}

{% block title %}ポジネガ探偵ぷらこめ | About us{% endblock %}

{% block header %}
<div class="container" style="margin-top:3rem">
    <h2><span class="sub_titles">運営者プロフィール</span></h2>
    
</div>
{% endblock %}

{% block contents %}
<div class="container" style="font-size:1.4rem;;margin-bottom:3rem;">
    <div style="margin-top:3rem;">
      <p style="font-size:1.3rem;">&emsp;ハロー!</p>
      <p>&emsp;アニメ評判分析サイトのプラコメをご覧いただきありがとうございます。</p>
<p>&emsp;私はアニメ研究家のHonto Miyuです。</p>
<p>&emsp;子供の頃からアニメがすごーく!好きで、かれこれ３００以上のアニメを見てきたと思います。セーラームーンのコスプレイやふしぎ遊戯のロールプレイングとかもよくお友達とやっていました(世代がばれる^^。アニメを見るのは、いつも古い友達に久しぶりに会うような高揚した気持ちになります。</p>
<p>&emsp;今やアニメは中国や韓国などのアジアや東欧でも制作されますが、やっぱり世界で日本が一番だと思います。その秘密は例えば一つ漢字があったら文脈により様々な読み方ができる日本語の表現の豊かさ、また他の言語には見られない数多くの擬音語(オノマトペ)、そして日本人の方々の場の空気を読むことができる力、言わなくても理解できる共感力、沈黙や騒音でさえ簡単に言葉にしてしまう感性の豊かさだと信じています。</p>
<p>&emsp;プラコメでは、今テレビで放送されているアニメの評判分析をしようと試みますが、その一番の目的は<strong>世の中に毎日たくさんアニメが生まれてくる中で、次にどのアニメを見たらよいのか？どのアニメがあなたが一番求めているのか？というのをリアルタイムで調査、そして推薦できるサイトがあったらいいな</strong>と思ったからです。</p>
<p>&emsp;日本全国のツイートを集めて文章を分析したのち、プラコメではポジティブなツイートだけではなくあえてネガティブなものも提示していますが、その目的は炎上や批判を世間に広めたいからではなく、ネガティブな投稿にも何らかの形で我々アニメを愛する人々やあるいはアニメにかかわる人々が参考にできる価値ある意見がどこかに隠れているものだと信じているからです（もちろん建設的な意味をなさず単に悪意によって生み出された投稿も多いですが..）。そのような"ポジティブなネガティブ意見"をあぶりだすこともプラコメが実現したいことの一つになります。</p>
<p>&emsp;まだまだこのサイトは発展途上の赤ん坊のようなもので、私が実現したいことのほんの一部しか実装できておらず、愛情を注いで注意深く育てる必要があります。至らないところがたくさんあると思いますが、より良いコンテンツを提供できるようにベストを尽くします。皆さん、このサイトに少しでも興味を持たれましたら、ぜひお友達やご家族の方々とこのサイトを共有してください!メッセージもご気軽にお送りください。どんなメッセージにもかならず返信をします。</p>
<p>&emsp;ここまでお読みいただいてありがとうございます。皆様どうぞ良い一日を。</p>
<br>
<p>&emsp;Honto Miyu </p>
    </div>
<!--
<div style="display: block;">
<img class="img-fluid lazyload" width="300" data-src={% static 'image/profile2.webp' %} alt="profile2">
<img class="img-fluid lazyload" width="270" data-src={% static 'image/profile1.webp' %} alt="profile">
</div>
-->
</div>


{% endblock %}


{% block javascript %}

{% endblock %}
