{% extends 'sentiment/anime/base.html' %}
{% load static %}

{% block title %}ポジネガ探偵ぷらこめ | プライバシーポリシー{% endblock %}
{% block head %}
<meta name="google-site-verification" content="fxQahsDO-SmE4lW4fF50S08UfSDe7_3O1K_jvy0JSzg" />
{% endblock %}

{% block header %}
<div class="container" style="margin-top:3rem;">
    <h2><span class="sub_titles">プラコメについて</span></h2>
    
</div>
{% endblock %}

{% block contents %}
<div class="container">
    <div style="margin-top:1rem;">
      <p style="font-size:1.3rem;">プラコメでは現在放送中のアニメに対するオンライン上の感想やリアクションを、画像やグラフを用いてわかりやすくまとめています。</p>
    </div> 
    <hr>
    <div style="margin-top:6rem;">
      <h3>免責事項</h3>
      <p>当サイトはTwitter社の<a href="https://twitter.com/ja/tos" target="_blank" style="text-decoration:none;">利用規約</a>を順守したツイートの取得と掲載を行なっております。当サイトに掲載されているすべてのツイートについて文章や画像等の編集・改変は一切行っておりません。</p>
      <p>各ツイートに対するポジティブ・ネガティブの判定や要約された文章については当サイト独自の判断の結果によるものであり、ツイート投稿主の本来の意図とは異なる場合があります。</p>
      <p>当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について、当サイトは一切の責任を負いません。</p>
      <p>当サイトは予告なしに、当サイトに掲載されている情報を変更することがあります。</p>
      <p>当サイトに掲載された内容によって生じた損害等の一切の責任は負いかねますのでご了承ください。</p>
    </div>
    
    <div style="margin-top:6rem;">
      <h3>プライバシーポリシー</h3>
      <p>当サイトではお問い合わせの際に名前やメールアドレス、お問い合わせの本文内に個人情報を入力いただく場合がございます。</p>
      <p>お預かりした個人情報はお問い合わせに対する回答を当サイトより電子メールにてご連絡する場合に限り利用させていただくものであり、その他の目的では一切利用いたしません。個人情報保護法その他の法令に基づき開示が認められる場合を除き、ご本人様の同意を得ずに第三者に提供することもございません。</p>
      <p>また当サイトでは第三者配信の広告サービスのGoogle Adsense(グーグルアドセンス)およびアクセス解析ツールのGoogleアナリティクスを利用させていただいております。Cookieを使用することでサイト訪問者のトラフィックデータを収集したり,過去のアクセス情報に基き適切な広告を配信しておりますが,個人を特定する情報は取得しておりません。この機能はお使いのウェブブラウザでCookieを無効にすることで情報の収集を拒否することが出来ます。</p>
    </div>
    

    
    <div style="margin-top:6rem;margin-bottom:6rem;">
      <h3>著作権</h3>
      <p>当サイトで引用・掲載しているあらゆるツイートの文章、またツイートに付随したメディア(画像、動画等)の著作権は各権利所有者に帰属します。</p>
      <p>個人的な利用など著作権法によって認められる場合を除き、著作権者の事前の許可なく、これらの情報を利用することはできません。</p>
      <p>当サイトは著作権や肖像権の侵害を目的としたものではありません。掲載されているツイートの削除要望や、著作権や肖像権に関して問題がございましたら<a href="https://purakome.net/sentiment/contact/">お問い合わせフォーム</a>からご連絡ください。迅速に削除等の対応をいたします。</p>
    </div>
</div>


{% endblock %}


{% block javascript %}

{% endblock %}
